build/
lib/libc/arch/*/include

bin/*/*
!bin/*/*.*
!bin/*/makefile

arch/*/initrd/*
!arch/*/initrd/*.*
!arch/*/initrd/makefile

.DS_Store
*.o
*.d
*.a

!tools/package.d/*
tests/headers/output.txt
tools/libc/*.txt
compile_commands.json
.cache
dockerfile
